{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        <!-- {% include 'includes/pre-loader.html' %} -->

        <!-- Hero -->
        <section class="section-header bg-secondary text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-8 text-center text-md-left mb-n5">
                        <h1 class="display-2 mb-4">About This Website</h1>
                        <p class="lead mb-4 text-muted">In this page I'll briefly describe the process of creating this Website, in case you are interested.</p>
                    </div>
               </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-md mb-n6">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="text-center text-md-left">
                        <h2 class="h1 mb-5">The Concept</h2>
                        <p class="lead">The idea of this Website is to be a portfolio of my work. In here, I'll introduce myself on the Homepage and display all my personal projects.</p>
                        <p class="lead">The reason why I use this Website as well and not only LinkedIn/Github is because this way I can deploy my Machine Learning Models in a Production Environment and put it to work in a way Github alone wouldn't let me.<br>
                        For example, check my fully functional Rent Price Calculator by clicking <a href="#" target="_blank" rel="noopener noreferrer" class="fw-bold text-dark">here</a>.</p>
                        <p class="lead">Not only that, but this way I can demonstrate a little bit of my Web Development skills. A skill not always used in Data Science, but one that can come in handy in specific situations, such as in the calculator mentioned above.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-md mb-n6">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="text-center text-md-left">
                        <h2 class="h1 mb-5">The Execution</h2>
                        <img class="img-fluid mb-5 col-md-6 col-xl-5" src="{% static 'assets/img/sections/django-logo.png' %}">
                        <p class="lead">In order to create this site, I used the Python Web Framework Django. This Framework lets you create a Website fairly simply. You can develop both Front-End and Back-End inside Django using Pure Python. Although it is also possible to use other Frameworks together with Django such as React (not used in this particular project).</p>
                        <p class="lead mb-5">For more info about Django, check:<br><a href="https://www.djangoproject.com" target="_blank" rel="noopener noreferrer">https://www.djangoproject.com</a></p>
                        <img class="img-fluid mb-5 col-md-6 col-xl-5" src="{% static 'assets/img/sections/appseed-logo.png' %}">
                        <p class="lead">Not only that, but for this project, I was really lucky to find the Pixel Bootstrap created by AppSeed. This Open Source Bootstrap gives you all the basic elements to create a Website. Thanks to them, I didn't have to create any of the CSS or Javascript you see in here. Everything you see here I used their strong foundation to create.</p>
                        <p class="lead">For more info about AppSeed, check:<br><a href="https://appseed.us" target="_blank" rel="noopener noreferrer">https://appseed.us</a></p>
                    </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="text-center text-md-left">
                        <h2 class="h1 mb-5">The Full Website Project</h2>
                        <p class="lead">Even tough AppSeed made my life much easier, there's still plenty of customization I had to do to make this Website looks as you see right now.<br>If you are curious to know exactly how I used their Bootstrap and all the steps I took to make this Website how it is at this moment, you can check the full project on my GitHub, by clicking the link below:<br><a href="https://github.com/danilorr/django-pixel" target="_blank" rel="noopener noreferrer">https://github.com/danilorr/django-pixel</a></p>
                    </div>
            </div>
        </section>
        <!-- End of section -->
    </main>

    {% endblock content %}

    {% block footer %}
    
        {% include 'includes/footer.html' %}
    
    {% endblock footer %}


